
.parent{
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   border-radius: 8px;
}

button{
    width: 200px;
    height: 30px;
    border: none;
    background-color: #cc005f;
    color: white;
    cursor: pointer;
    margin-top: 50px;
}
button:hover{
    background-color: black;
}
h3{
    text-align: center;
    font-family: 'Inter', sans-serif;

}



input{
    border:  1px solid grey;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    text-align: center;
}